* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
}

body {
  font-family: sans-serif;
  background-color: blue;
}

/* Navbar */

.navbar {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  background-color: black;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar p {
    margin-right: 35px;
}

/* Hero */

.hero {
    display: flex;
}

.texto-hero {
    align-content: center;
    margin: 50px;
}

.texto-hero h1 {
    margin-bottom: 20px;
}

.texto-hero p {
    text-align: justify;
}

.collage-hero {
    margin: 50px;
}

/* Portafolio main */

/* Experiencia */

/* Competencias */

/* Contacto */

/* Portafolio tab (pte confirmacion)*/