/* General */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {
    font-family: sans-serif;
    background-color: #232222;
}

button {
    color: white;
    background-color: transparent;
    font-size: 18px;
    border-radius: 7px;
    border: chartreuse 2px solid;
    padding: 10px 30px;
}

/* Navbar */

.navbar {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: black;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar p {
    margin-right: 35px;
}

/* Hero */

.hero {
    display: flex;
}

.texto-hero {
    align-content: center;
    margin: 50px;
}

.texto-hero h1 {
    margin-bottom: 20px;
}

.texto-hero p {
    text-align: justify;
}

.collage-hero {
    margin: 50px;
}

/* Portafolio main */

.portafolio {
    margin: 20px;
    justify-items: center;
    text-align: center;
}

.imagenes-portafolio {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    gap: 50px;
}

.portafolio img {
    height: 260px;
    width: 390px;
}

/* Experiencia */

/* Competencias */

/* Contacto */

/* Portafolio tab (pte confirmacion)*/