/* General */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {
    font-family: sans-serif;
    background-color: #232222;
}

button {
    color: white;
    background-color: transparent;
    font-size: 18px;
    border-radius: 7px;
    border: chartreuse 2px solid;
    padding: 10px 30px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
    color: chartreuse;
}

h3 {
    margin-bottom: 10px;
}

/* Navbar */

.navbar {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 10;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar p {
    margin-right: 35px;
}

/* Hero */

.hero {
    display: flex;
}

.texto-hero {
    align-content: center;
    margin: 50px;
}

.texto-hero p {
    text-align: justify;
}

.collage-hero {
    margin: 50px;
}

/* Portafolio main */

.portafolio {
    margin: 20px;
    justify-items: center;
    text-align: center;
}

.imagenes-portafolio {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    gap: 50px;
}

.portafolio img {
    height: 260px;
    width: 390px;
}

/* Experiencia */

.experiencia {
    margin: 20px;
    margin-bottom: 40px;
}

.experiencia h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.timeline {
    position: relative;
    overflow: hidden;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 75%;
    width: 2px;
    background-color: chartreuse;
}

.timeline-derecha::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;       /* lo hace círculo */
    background-color: chartreuse;
    left: -34.45%;
}

.timeline-izquierda::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;       /* lo hace círculo */
    background-color: chartreuse;
    right: -35%;
}

.timeline-derecha {
    margin-left: 60%;
    margin-right: 10%;
    text-align: center;
    position: relative;
}

.timeline-izquierda {
    margin-right: 60%;
    margin-left: 10%;
    text-align: center;
    position: relative;
}

.timeline-derecha p {
    text-align: justify;
}

.timeline-izquierda p {
    text-align: justify;
}

/* Competencias */

.competencias {
    align-items: center;
    margin: 20px;
    margin-top: 40px;
}

.competencias h1 {
    text-align: center;
}

.competencias-contenido {
    align-content: center;
}

.competencia {
    margin: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.seccion-barra {
    display: flex;
    gap: 20px;
    background-color: transparent;
    width: 1000px;
}

.barra-70 {
    width: 700px;
    background-color: chartreuse;
    height: 20px;
}

.barra-50 {
    width: 500px;
    background-color: chartreuse;
    height: 20px;
}

.barra-80 {
    width: 800px;
    background-color: chartreuse;
    height: 20px;
}

.barra-100 {
    width: 1000px;
    background-color: chartreuse;
    height: 20px;
}

/* Contacto */

.contacto h1 {
    text-align: center;
}

.contenido-contacto {
    display: flex;
}



/* Portafolio tab (pte confirmacion)*/